include _libs
include _main
.main_page
    include pug/header/_header
    .container
        .main_page_title
            h1 Строительство домов и коттеджей <span>под ключ в Крыму</span>
            .main_page_vector
            .main_page_subtitle
                h3 Выполним все работы точно в срок с гарантией по договору
            .main_page_button
                button Рассчитать стоимость
        .main_page_camera
            p В обязательном порядке устанавливаем камеры видео наблюдения
            .main_page_camera_image
                img.src(src=require(`./images/hiwatch.svg`) alt=camera)
.about
    .container
        .about_title
            h2 С <span>2012 года </span> возвели <br> более<span> 180 объектов</span>
            p От небольших сооружений до многоэтажных <br> коттеджей с дизайнерским интерьером
        .about_project
            .about_project_rec
                img.src(src=require('./images/Rectangle1.png') alt=rec1)
                .about_project_rec_descr
                    p <strong>Барнхаус L</strong>
                    p Площадь - 115 м²
            .about_project_rec
                img.src(src=require('./images/Rectangle2.png') alt=rec2)
                .about_project_rec_descr
                    p <strong>Барнхаус L</strong>
                    p Площадь - 115 м²
            .about_project_rec
                img.src(src=require('./images/Rectangle3.png') alt=rec1)
                .about_project_rec_descr
                    p <strong>Барнхаус L</strong>
                    p Площадь - 115 м
            .about_project_rec
                img.src(src=require('./images/Rectangle4.png') alt=rec1)
                .about_project_rec_descr
                    p <strong>Барнхаус L</strong>
                    p Площадь - 115 м²

        .about_project_button
            button получить консультацию
include pug/quiz/quiz.pug
.plus
    .plus_title
        h2 Почему нам <span>доверяют?</span>
    .plus_elements
        .plus_elements_card
            img(src=require("./images/document.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Гарантия</strong>
                p Гарантия 50 лет на все возводимые конструкции
        .plus_elements_card
            img(src=require("./images/hard-hat.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Опыт</strong>
                p Опыт наших мастеров более 20 лет
        .plus_elements_card
            img(src=require("./images/magnifying-glass.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Команда</strong>
                p Ежеквартально наши мастера проходят профессиональную аттестацию
        .plus_elements_card
            img(src=require("./images/builder.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Команда</strong>
                p Ежеквартально наши мастера проходят профессиональную аттестацию
        .plus_elements_card
            img(src=require("./images/finance.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Договор</strong>
                p Все сроки и гарантии прописываются в договоре
        .plus_elements_card
            img(src=require("./images/cctv-camera.png") alt=img_1)
            .plus_elements_card_descr
                p <strong>Видеонаблюдение</strong>
                p Установим камеру видеонаблюдения, доступ 24/7 c любого устройства
    .plus_elements_button
        button узнать подробнее

.finish_proj
    .container
        .finish_proj_title
            h1 Вы можете выбрать один из <span>готовых проектов,</span> <br> разработанных профессиональнымbr <br> архитектором
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
        .finish_proj_content
            .finish_proj_content_inner
                img(src=require("./images/R1.png") alt=asd)
